__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
# Data & outputs (not committed)
data/raw/*.csv
data/raw/*.zip
data/raw/*.gz
artifacts/*.joblib
artifacts/*.json
artifacts/*.csv
